.support_service{
    /* background-color: rgb(76, 43, 0); */
    width: 100%;

}
.service_discription{
    color: rgb(173, 173, 173);
    margin: 20px;
}
.Service_wrapper{
    /* background-color: rgb(206, 60, 60); */
    margin: auto;
    max-width: 900px;
    text-align: center;
    
}
.Services_Container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;

    /* background-color: blue; */

    padding: 20px;
}
.service_apply_btn{
    color: white;
    /* background-color: black; */
    background: linear-gradient(300deg,rgba(9, 136, 119, 0.63) 17%,rgba(12, 97, 86, 0.226)  82%);
    border-radius: 5px;
    font-weight: 500;
    padding: 9px;
    font-size: .7rem;
    transition: 0.3s;

    margin-top: 15px;

    border: 1px solid rgb(17, 201, 158);

}
.service_apply_btn:hover{
    background: linear-gradient(300deg,rgba(5, 103, 96, 0.63) 17%,rgba(3, 111, 130, 0.271)  82%);

    border: 1px solid rgb(151, 246, 222);

}

.service_apply_btn:active{
    background: linear-gradient(300deg,rgba(4, 141, 132, 0.63) 17%,rgba(5, 134, 157, 0.271)  82%);
  
}

.services_div{
    width: 370px;
    min-height: 230px;
    background-size: cover;
    text-align: center;

    background-color: rgba(84, 86, 85, 0.524);
    background-blend-mode:multiply ;
    border-radius: 5px;

    cursor: pointer;

}

.service_content_container{
    width: 100%;
    padding: 20px;
    min-height: 230px;

}

.service_content_container:hover{
    backdrop-filter: blur(10px) saturate(200%);
    background: linear-gradient(300deg,rgba(77, 77, 77, 0.068)  17%,rgba(128, 128, 128, 0.062)  82%);
    transition: all ease-in-out .3s;
    border-radius: 5px;

}
.services_div_heading{
font-size: 1.2rem;
font-weight: 700;
margin-bottom: 10px;
}
.services_div_discr{
font-size: .850rem;
}
/* 
.service_Img_1{
    background-image: url('../../images/ServicePageAssets/support-pic-2.jpg');
}
.service_Img_2{
    background-image: url('../../images/ServicePageAssets/support-pic-1.jpg');

}
.service_Img_3{
    background-image: url('../../images/ServicePageAssets/support-pic-3.jpg');

}
.service_Img_4{
    background-image: url('../../images/ServicePageAssets/support-pic-4.jpg');

}.service_Img_5{
    background-image: url('../../images/ServicePageAssets/support-pic-5.jpg');

}.service_Img_6{
    background-image: url('../../images/ServicePageAssets/support-pic-6.jpg');

}.service_Img_7{
    background-image: url('../../images/ServicePageAssets/support-pic-7.jpg');

}.service_Img_8{
    background-image: url('../../images/ServicePageAssets/support-pic-8.jpg');

}.service_Img_9{
    background-image: url('../../images/ServicePageAssets/support-pic-9.jpg');

}
.service_Img_10{
    background-image: url('../../images/ServicePageAssets/support-pic-10.jpg');

} */

@media only screen and (max-width: 500px) {
    .Services_Container{
        padding:0px;
        /* background-color: antiquewhite; */
    }
    .services_div{
        background-color: rgba(127, 255, 212, 0.288);
        width: 100%;
        /* height: 160px; */
    }  
}